@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}




html{
    background-image: url("../images/bus_wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    font-family: 'Lucida Sans', serif;
}


.navbar_contents{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    margin-bottom: 80px;
    z-index: 1;
    
    
  }
  .navbar_contents ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar_contents li{
    float: left;
  }
  
  .navbar_contents li a, .navbar_contents button {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px 15px; 
    display:block;
    color: white;
    text-align: center;
  }
  
  .navbar_contents a:hover, .navbar_contents button:hover{
    background-color: darkgray;
    cursor: pointer;
  }
  
  .dropdown {
    float:left;
    overflow: hidden;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdownContent a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdownContent {
    display:block;
  }


.formInput input[type=submit]:hover{
    background-color: darkgray;
}

#errorMessage{
    margin: auto;
    
}

.body_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(237, 228, 216);
    border-radius: 5px;
    margin: auto;
    opacity: 0.95;
    word-break: break-all;
    
}


.formInput label{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    font-style:italic;
    
}

.formInput input[type=text]{
    width: 45%;
    padding: 10px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.formInput input[type=submit]{
    margin-top: 9px;
    height: 35px;
    border:2px solid white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
}

.formInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#home_header{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: monospace;
    border: solid 1px black;
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 5%;
}

#news_header{
    margin-top: 230px;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    border: solid 1px black;
    background-color: black;
    color: white;

}

.news_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.news{
    text-align: center;
    flex-basis:400px;
    flex-shrink:1;
    flex-grow: 0;
    border: solid 10px grey;
    border-radius: 5px;
    background-color: black;
    color: white;


}


.news a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    word-break: break-all;
    
    
    
}

.news:hover{
    background-color: gray;
}


.news img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}












 