<div class="routeBox">
    <div class="routeHeader">
        <div class="leftRouteHeader">
            <div class="Terminal">{{terminal}}</div>
            <div class="destination">Destination: {{destination}}</div>
            <div class="schedule">{{schedule}}</div>
            <div class="buyBox"><button class = "btnBuy" onclick="confirmBuy()">VIEW ON MAP</button></div>
        </div>
        <div class="rightRouteHeader">
            <div class="price">P{{price}}</div>
            <div class="buyBox"><button class = "btnBuy" onclick="confirmBuy()">BOOK NOW</button></div>
        </div>
    </div>
</div>