<link rel="stylesheet" type="text/css" href="/css/home_style.css">
<script type="text/javascript" src="/js/home_javascript.js"></script>

<div class="body_container">

    <h1 id="home_header">BUSINA</h1>


    <div class="formInput">
        <form id="homeForm" onsubmit="return validateInput()">
            <label>Destination:</label>
            <input type="text" id="destination" name="destination" placeholder="eg. Pasay">
            <input type="submit" name="submit" id="submit">
        </form>
    </div>
    <p id="errorMessage"></p>



    <h2 id="news_header">What's New: </h2><br>


    <div class="news_container">


        <div class="news">
            <a href="/news/1">
                <h3>House leader wants to rescind policy on bus window hours</h3>
                <img src="images\news1.jpg">
            </a>
        </div>
        <div class="news">
            <a href="/news/2">
                <h3>Gov't unapologetic on 10 p.m. to 5 a.m. 'agreement' for provincial buses</h3>
                <img src="images\news2.jpg">
            </a>
        </div>
        <div class="news">
            <a href="/news/3">
                <h3>Drop window hours scheme for prov’l buses, gov’t urged</h3>
                <img src="images\news3.png">
            </a>
        </div>


    </div>
</div>