<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css\home_style.css">
        <script src="../public/js/home_javascript.js"></script>


    </head>

    <body>

        <div class = "navbar_contents">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="map.html">Map View</a></li>
              <div class="dropdown">
              <li><button>Bus Companies</button>
              <div class="dropdownContent">
                <a href="comp_Genesis.html" class="dropdownLink">Genesis</a>
                
                <a href="comp_DLTB.html" class="dropdownLink">DLTB</a>
               
                <a href="comp_Victory.html" class="dropdownLink">Victory</a>
                
                <a href="comp_Partas.html" class="dropdownLink">Partas</a>
                
                <a href="comp_JoyBus.html" class="dropdownLink">JoyBus</a>
              </div>
              </li>
            </div>
              <li><a href="booktickets.html"> Book Tickets</a></li>
              <li><a href="login.html"> Login</a></li>
              <li><a href="register.html"> Register</a></li>
            </ul>
          </div>


        <div class="body_container">
        
            <h1 id="home_header">BUSINA</h1>

        
                <div class="formInput">
                    <form id="homeForm" onsubmit="return validateInput()">
                        <label>Destination:</label>
                        <input type="text" id="destination" name="destination" placeholder="eg. Pasay">
                        <input type="submit" name="submit" id="submit">
                    </form>
                </div>
                <p id="errorMessage"></p>
          


            <h2 id="news_header">What's New: </h2><br>

            
            <div class="news_container">
                

                <div class="news">
                    <a href="news1.html">
                        <h3>House leader wants to rescind policy on bus window hours</h3>
                        <img src="images\news1.jpg">
                    </a>
                </div>
                <div class="news">
                    <a href="news2.html">
                        <h3>Gov't unapologetic on 10 p.m. to 5 a.m. 'agreement' for provincial buses</h3>
                        <img src="images\news2.jpg">
                    </a>
                </div>
                <div class="news">
                    <a href="news3.html">
                        <h3>Drop window hours scheme for prov’l buses, gov’t urged</h3>
                        <img src="images\news3.png">
                    </a>
                </div>


            </div>
        </div>



        
    </body>
</html>