<link rel="stylesheet" href="/css/login.css">
<div class="mainBox">

        <h1>Login</h1>

        <form class="loginForm">

          <div class="txtField">

            <input type="text" class = "username" required>
            <label>Username</label>

          </div>

          <div class="txtField">

            <input type="password" class="password" required>
            <label>Password</label>

          </div>

          <div class="forgotPass">

            <a href = "#"> Forgot Password? </a>

          </div>
          

          <input type="submit" value="Login" class = "submitBtn">

          <div class="registerLbl">

            Not a member? <a href="/register">Signup</a>

          </div>

          <div class="registerLbl">

            <a href="/">Back</a>

          </div>
        </form>
        
      </div>