<!--<html>-->
<!--    <head>-->
<!--        <title>Drop window hours scheme for prov’l buses, gov’t urged</title>-->

<!--        <script src="public/js/news_javascript.js"></script>-->

<!--        -->
<!--    </head>-->

<!--    <body>-->

<!--        <div class = "navbar_contents">-->
<!--            <ul>-->
<!--              <li><a href="index.html">Home</a></li>-->
<!--              <li><a href="map.html">Map View</a></li>-->
<!--              <div class="dropdown">-->
<!--              <li><button>Bus Companies</button>-->
<!--              <div class="dropdownContent">-->
<!--                <a href="comp_Genesis.html" class="dropdownLink">Genesis</a>-->
<!--                -->
<!--                <a href="comp_DLTB.html" class="dropdownLink">DLTB</a>-->
<!--               -->
<!--                <a href="comp_Victory.html" class="dropdownLink">Victory</a>-->
<!--                -->
<!--                <a href="comp_Partas.html" class="dropdownLink">Partas</a>-->
<!--                -->
<!--                <a href="comp_JoyBus.html" class="dropdownLink">JoyBus</a>-->
<!--              </div>-->
<!--              </li>-->
<!--            </div>-->
<!--              <li><a href="booktickets.html"> Book Tickets</a></li>-->
<!--              <li><a href="login.html"> Login</a></li>-->
<!--              <li><a href="register.html"> Register</a></li>-->
<!--            </ul>-->
<!--          </div>-->

        <link rel="stylesheet" href="/css/news_style.css">
        <div id="body_container">

            <h1 id="news_header">Drop window hours scheme for prov’l buses, gov’t urged</h1>

            <div class="news_container">
                <div class="news_content">
                    <p>
                        MANILA, Philippines — After drawing outrage from commuters and transport workers alike, national government agencies have refused to budge on the new provincial bus rule, claiming this "promotes mobility" by addressing traffic congestion. 

                        To recall, the new rule only allows provincial bus operators to use their private terminals from 10:00 p.m. to 5:00 a.m. Outside of those hours, they may only use terminals prescribed by the national government. In a statement sent to reporters, the Land Transportation Franchising and Regulatory Board asserted that the MMDA’s window hour policy "does not connote that operators may ply their routes only on these hours."

                        "There has never been any prohibition to operate beyond the window hours but operators continue to mislead passengers by announcing that they will only operate during the window hours," the statement reads. 
                        
                        With the new "agreement" in effect, passengers leaving the National Capital Region for their provinces were forced to wait in the usual private terminals until 10 p.m. for their bus trips due to the new provincial bus travel scheme.
                        
                        Private terminals of provincial bus operators are mostly located along EDSA. But the Metro Manila Development Authority has long held the position that keeping buses off the metro’s main thoroughfare can help address traffic congestion. 
                        
                        As a result, the rule keeps commuters coming from the provinces off the most important thoroughfare in the metropolis during the work day, whether intended or not. Routes and routines are disrupted in effect, while connectivity to other parts of the metro is muddled. 
                        
                        Beyond MMDA’s window hours, operators will have to load and unload passengers at the Department of Transportation's intermodal terminals at the entry points of Metro Manila and not their private terminals. These include the Paranaque Integrated Terminal Exchange, the Cubao Integrated Terminals, and the North Luzon Express Terminal in Bocaue. 
                        
                        But the Department of Transportation, LTFRB, and MMDA insisted that the window hour policy is "a gentleman’s agreement" between the MMDA and provincial bus operators reached after a series of meetings.
                        
                        "The policy is in response to the complaint of bus operators and to accommodate passengers at nighttime to enter Metro Manila to minimize inconvenience waiting for connecting trips going to and from their destinations," the statement reads. 
                        
                        "All private terminals in Metro Manila are considered unsafe and security hazards, after failing separate health, safety, and security inspections conducted by the LTFRB and the Office on Transportation Security," it goes on to claim.
                        
                        While the department emphasized the need for safety and mobility, it paid little mind in its statement to the commuters being affected by the new policy. 
                        
                        Mobility for whom?
                        The LTFRB said it is studying increasing the capacity of the Cubao Integrated Terminal to accommodate long-haul provincial buses, and establishing more connectivity from the ITXs to various areas in Metro Manila. 
                        
                        This would involve restructuring or amendments of routes of service and the designation of and use of ITXs pursuant to the existing policies and programs, including the Public Utility Vehicle Modernization Program and the Route Rationalization Study. 
                        
                        "The Northern-based provincial bus operators have raised so many issues against the use of NLET, from terminal fees, inter-connectivity, access, to terminal standards, all of which have been addressed," LTFRB said. 
                        
                        "Even if not all concerns have been addressed, one thing clear however, is they continue to insist in using their private terminals along EDSA. This insistence in the use of their private terminals is anathema to the state policy." 
                        
                        In defense of the ITX program, the board claimed that other major cities in the country have established and properly implemented intermodal transport terminals, adding that the terminals are a "worldwide practice in addressing public transport requirements in cities."
                        
                        Commuters — who had experienced being stranded in terminals after transport collapses for nearly three weeks in a row — did not actually oppose the use of ITXs in itself. But the LTFRB said that the use of ITXs was necessary to solve traffic on EDSA. 
                        
                        "The LTFRB had numerous meetings with the provincial bus operators in the last two years...and the common theme of the provincial bus operators has always been to insist in the use of their private terminals," the statement adds. 
                        
                        "While LTFRB’s policy to enjoin the use of ITXs runs contrary to the private interest of the bus operators in using their private terminals along EDSA, we cannot disregard the benefits it would offer in promoting mobility therein, as it is being eyed as one of the necessary solutions in addressing the traffic congestion in EDSA which has not been resolved since time immemorial."
                        
                        The Move as One transport coalition opposed this narrative in an earlier statement sent to reporters. "Contrary to what the authorities may think, buses are not the cause of traffic in Metro Manila," their statement read. 
                        
                        "In fact, there are too few buses to serve the needs of commuters, who make up 88% of the people in the megacity. Just look at the kilometric queues of people waiting for hours, desperate to get on buses to get to work and to carry out essential tasks." 

                    </p>


                </div>
    
                <div class="news_image">
                    <img src="/images/news3.png">
                </div>

            </div>


        </div>



<!--        -->
<!--    </body>-->
<!--</html>-->