<html>
    <head>
        <title>House Leader Wants to Rescind Policy on Bus Window Hours</title>
        <link rel="stylesheet" href="css\news_style.css">
        <script src="public/js/news_javascript.js"></script>

        
    </head>

    <body>

        <div class = "navbar_contents">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="map.html">Map View</a></li>
              <div class="dropdown">
              <li><button>Bus Companies</button>
              <div class="dropdownContent">
                <a href="comp_Genesis.html" class="dropdownLink">Genesis</a>
                
                <a href="comp_DLTB.html" class="dropdownLink">DLTB</a>
               
                <a href="comp_Victory.html" class="dropdownLink">Victory</a>
                
                <a href="comp_Partas.html" class="dropdownLink">Partas</a>
                
                <a href="comp_JoyBus.html" class="dropdownLink">JoyBus</a>
              </div>
              </li>
            </div>
              <li><a href="booktickets.html"> Book Tickets</a></li>
              <li><a href="login.html"> Login</a></li>
              <li><a href="register.html"> Register</a></li>
            </ul>
          </div>


        <div id="body_container">

            <h1 id="news_header">House Leader Wants to Rescind Policy on Bus Window Hours</h1>

            <div class="news_container">
                <div class="news_content">
                    <p>MANILA – A House leader on Friday urged the Metropolitan Manila Development Authority (MMDA) and the Land Transport Franchising and Regulatory Board (LTFRB) to reconsider the window hour scheme imposed on provincial buses or else Congress would have to subpoena these agencies to explain.

                        In a statement, House ways and means committee chairperson Joey Salceda said the MMDA and LTFRB should drop all these "unclear restrictions" on provincial buses on EDSA, particularly the new policy allowing provincial bus operators to use their private terminals from 10 p.m. to 5 a.m. only.
                        
                        Outside these window hours, they may only use designated terminals prescribed by the national government, such as the Araneta Bus Port, Parañaque Integrated Terminal Exchange, Valenzuela Gateway Complex, North Luzon Express Terminal.
                        
                        Salceda said clear guidelines should be jointly issued by the two agencies, and stakeholder consultation and evidence-based policymaking should be used to develop new transport policies.
                        
                        “I demand three things, or Congress will subpoena these agencies to explain. First, just drop all these unclear restrictions on provincial buses in EDSA. Second, if they will issue guidelines, they should be jointly issued, so we don’t see a repeat of this awkward finger-pointing. Third, all transport policies of the LTFRB and the MMDA should be properly consulted with commuter groups, and should have a clear, scientific case," he said.
                        
                        Salceda said the supposed “window hours” scheme between 10 p.m. and 5 a.m. for provincial buses “is inequitable, unfair, ineffective, and just completely useless.”
                        
                        “After imposing these policies, these two agencies are pointing fingers at each other about who really imposed the restrictions. They are also saying that these policies are not really hard restrictions." Salceda said. “If you have to roll back every pronouncement about these policies, maybe they just don’t make sense. So, just drop them.”
                        
                        He said these two agencies should "shape up" on transport, arguing that the clear issue is that there are too many cars and not enough trains and buses on EDSA.
                        
                        “Impose traffic rules on provincial buses. By all means. Restrict them to certain drop-off points along EDSA. Sure. But heavily restrict their access to the main thoroughfare? We provincianos pay our taxes to maintain EDSA, too. Share the road!” Salceda said.
                        
                        Meanwhile, Bayan Muna Party-list Reps. Ferdinand Gaite, Carlos Isagani Zarate, and Eufemia Cullamat filed House Resolution 2562, which calls for a congressional inquiry into the window hour scheme.
                        
                        The lawmakers cited the “significant delay and inconvenience” it brings commuters.
                        
                        “The window-hour scheme imposed on provincial bus operators has greatly caused undue hassle and burden to thousands of commuters relying on public transport,” they said in the resolution.
                        
                        “As representatives of the people, members of Congress must ensure that government policies serve the best interest of our people, especially in this time of crisis aggravated by the pandemic gravely hit hard our already suffering people,” they added. (PNA)
                    </p>


                </div>
    
                <div class="news_image">
                    <img src="images\news1.jpg">
                </div>

            </div>


        </div>



        
    </body>
</html>