<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../public/css/login.css">
    <script src="JS/register.js"></script>
    <title>Login</title>
</head>
<body>
<div class="mainBox">

    <h1>Register</h1>

    <form class="loginForm" action="login.html" method="post">

        <div class="txtField">

            <input type="text" id = "fName" required>
            <label>First Name</label>

        </div>

        <div class="txtField">

            <input type="text" id = "lName" required>
            <label>Last Name</label>

        </div>

        <div class="txtField">

            <input type="text" id = "email" required>
            <label>Email Address</label>

        </div>

        <div class="txtField">

            <input type="password" id="password" required>
            <label>Password</label>

        </div>


        <input type="submit" value="Sign up!" class = "submitBtn">

        <div class="registerLbl">

            <a href="index.html">Back</a>

        </div>

    </form>

</div>
</body>
</html>